*{
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image1{
 
    height: 500px;
    border-radius: 25%;
  
}
.image{
  height: 500px;
  border-radius: 10%;
}
.email{
  width: 200px;
}
